

* {
  box-sizing: border-box;
  text-align: center;
}


body {
  font-size: 24px;
  line-height: 32px;
  color: #333;
}

header {
  margin-bottom: 20px;
  padding: 20px;
  color: #333;
  background: #ccc;
}


.nav {
  width: 100%;
  color: #fff;
  background: #888;
  height:70px;
  
}

.container {
  
background: #eec;
 width:1000px;
 overflow:hidden;
 position: relative;
height: 1000px;
}

.section {
  width:45%;
  height:40%;
  background-color: red;
  overflow:auto;
  border:20px,20px,20px,20px;
  border-width: 20px;
  border-color: green;
  float:left;
  margin:10px;
}

.article {
  margin-top: 100px;
  padding: 20px;
  background: #6ea3da;
  border-color:green;
  /*position:absolute;*/
  /*width: 100%; */
  border-width:20px;    
  border-color:green; 
  /*height:100%;*/
  margin:10px;


}
.aside {
  float: right;
  width: 45%;
  height: 40%;
  background: #fff;
  background-color: blue;
  margin:10px;
  right:0;
  top:0;
  position:absolute;
  margin-top: 17%;
  
}

.h123 {
    width: 100%;
    background-color: teal;
    height:20%;

}

.p {
  width: 100%;
    background-color: teal;
    height:20%;
}
footer {
  clear: both;
  padding: 20px;
  background: #ccc;
  margin-top:10px;
}